@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Tac+One&display=swap');

body{
    font-family: "Pixelify Sans", sans-serif;
    background-color: black;
    color: rgb(235, 235, 235);
    text-align: center;
    span{
        background-color: rgb(255, 8, 234);
}
#dias_restantes{
    color: rgb(153, 8, 8);
    font-size: 50px;   
}