body{
    background-color: rgb(24, 21, 21);
    color: rgb(247, 238, 238);
    text-align: start;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0cap;
}