@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
h1{
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
p{
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }
  body{
    background-color: rgb(46, 46, 46);
    color: rgb(202, 138, 255);
    text-align: center;
    font-size: 79px;
  }
span{
    background-color: rgb(255, 8, 234);
}